*~
**/*/*~
**/*/*.lo
**/*/*.la
**/*/*.o
**/*/*.a
**/*/*.pyc
**/*/CMakeCache.txt
**/*/CMakeFiles*
.*
**/.*
.__vimsession
**/*/.__vimsession
*/TAGS
**/*/TAGS
build_*
src/init_finished.txt
work/libmainlib.so
work/actparcmaes.par
work/errcmaes.err
work/optimizelog.txt
