
# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General] 
FileSystem=../media
FileSystem=../media/fonts
FileSystem=../media/materials/programs
FileSystem=../media/materials/scripts
FileSystem=../media/materials/textures
FileSystem=../media/models
FileSystem=../media/overlays
FileSystem=../media/particle
FileSystem=../media/magic_builder/house
FileSystem=../media/complex_meshes/BG1
FileSystem=../media/complex_meshes/BG2
FileSystem=../media/complex_meshes/dojo
FileSystem=../media/complex_meshes/iguana
#FileSystem=../media/gui
#FileSystem=../media/DeferredShadingMedia
Zip=../media/packs/cubemap.zip
Zip=../media/packs/cubemapsJS.zip
Zip=../media/packs/dragon.zip
Zip=../media/packs/fresneldemo.zip
Zip=../media/packs/ogretestmap.zip
Zip=../media/packs/skybox.zip
Zip=../media/packs/icons.zip
# Ogre Core Resources
[OgreInternal]
FileSystem=../media12/RTShaderLib/materials
FileSystem=../media12/RTShaderLib/GLSL
FileSystem=../media12/RTShaderLib/HLSL_Cg
FileSystem=../media12/ShadowVolume
FileSystem=../media12/materials/scripts
FileSystem=../media12/materials/textures
FileSystem=../media12/materials/programs/GLSL
FileSystem=../media12/materials/programs
FileSystem=../media12/Civilian3
FileSystem=../media12/luke
FileSystem=../media12/businessPeople
Zip=../media12/packs/cubemapsJS.zip

[Essential]
Zip=../media12/packs/SdkTrays.zip

