# Resources required by the sample browser and most samples.
[Essential]
Zip=work/taesooLib/media3/DebugPack.zip
Zip=work/taesooLib/media3/CornellBox.zip
#Zip=Contents/Resources/profiler.zip

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=work/taesooLib/media3/2.0/scripts/Compositors
FileSystem=work/taesooLib/media3/models
FileSystem=work/taesooLib/media3/textures
FileSystem=work/taesooLib/media3/textures/Cubemaps

# old resources and some materials ported to the ogre2 pipeline.
FileSystem=work/taesooLib/media2/taesoo
FileSystem=work/taesooLib/media/materials/textures
FileSystem=work/taesooLib/media/fonts

# v1 meshes (make sure this folders do not contain v1 material scripts)
FileSystem=work/taesooLib/media/models
FileSystem=work/taesooLib/media/magic_builder/house
FileSystem=work/taesooLib/media/complex_meshes/BG1
FileSystem=work/taesooLib/media12/Civilian3
FileSystem=work/taesooLib/media12/businessPeople
FileSystem=work/taesooLib/media12/luke
FileSystem=work/taesooLib/media12/mixamo

[General]
FileSystem=work/taesooLib/media3/2.0/scripts/materials/Common
FileSystem=work/taesooLib/media3/2.0/scripts/materials/Common/Any
FileSystem=work/taesooLib/media3/2.0/scripts/materials/Common/GLSL
FileSystem=work/taesooLib/media3/2.0/scripts/materials/Common/HLSL
FileSystem=work/taesooLib/media3/2.0/scripts/materials/Common/Metal
FileSystem=work/taesooLib/media3/Hlms/Common/Any
FileSystem=work/taesooLib/media3/Hlms/Common/GLSL
FileSystem=work/taesooLib/media3/Hlms/Common/HLSL
FileSystem=work/taesooLib/media3/Hlms/Common/Metal
FileSystem=work/taesooLib/media3/Compute/Algorithms/IBL
FileSystem=work/taesooLib/media3/Compute/Tools/Any
FileSystem=work/taesooLib/media3/Compute/Tools/GLSL
FileSystem=work/taesooLib/media3/Compute/Tools/HLSL
FileSystem=work/taesooLib/media3/Compute/Tools/Metal
FileSystem=work/taesooLib/media3/Compute/Tools

# Do not load this as a resource. It's here merely to tell the code where
# the Hlms templates are located
[Hlms]
DoNotUseAsResource=../media3
