recursive-include libcalab_ogre3d *.so.4.0 *.pyd *.so *.dll *.dylib 

# include resources
recursive-include libcalab_ogre3d/Resource *
recursive-include libcalab_ogre3d/work *
recursive-include libcalab_ogre3d/media3 *

